    <style>
        @page {
            size: A4;
            margin: 25mm 20mm;
            background-color: #ffffff;
            @bottom-right {
                content: counter(page);
                font-family: 'Times New Roman', serif;
                font-size: 9pt;
                color: #555;
            }
        }


    
        .document-type {
            text-transform: uppercase;
            letter-spacing: 2pt;
            font-size: 10pt;
            font-weight: bold;
            color: #444;
        }

        .meta-data {
            font-size: 10pt;
            color: #666;
            margin-bottom: 40pt;
        }

        .section {
            margin-bottom: 20pt;
        }

        .section-number {
            font-weight: bold;
            margin-right: 10pt;
        }
     
        .clause {
            display: block;
            margin-bottom: 12pt;
            padding-left: 33px;
            padding-right:5px;
            position: relative;
            font-family:"Share Tech Mono", sans-serif;
            font-size:16px;
            text-align:justify;
        }

        .clause-num {
            position: absolute;
            left: 0;
            font-weight: bold;
        }

        .highlight-box {
            background-color: #f9f9f9;
            border-left: 4pt solid #333;
            padding: 15pt;
            margin: 20pt 0;
            font-style: italic;
        }

        .footer-signature {
            margin-top: 60pt;
            border-top: 1pt solid #000;
            padding-top: 10pt;
            width: 250pt;
        }

        .stamp {
            border: 2pt solid #888;
            color: #888;
            padding: 5pt;
            display: inline-block;
            transform: rotate(-5deg);
            font-weight: bold;
            margin-top: 20pt;
        }

        strong{
            font-weight:bold;
        }

        i{
            font-style:italic;
        }

        .mission h3{
            font-family:"Rye", serif;
        }

        .mission h2 span a{
            color:cyan !important;
        }

    </style>
</head>
<body>
    <div class="titleBreak">
        <h2><span><a href="#mission" class="TEMPLAR mission">Mission Statement</a></span></h2>
    </div>

    <div class="section">
        <h3>I. Code as Architecture</h3>
        <div class="clause">
            <span class="clause-num">1.1</span>
            <strong>Universal Definition</strong> propagate.info is <i>freely developing Information Architecture</i>. The name comes from the Catholic Society for the Propagation of the Faith.
        </div>
        <div class="clause">
            <span class="clause-num">1.2</span>
            <strong>The Architecture of the Public Square</strong> As Lawrence Lessig said, code is like <i>Architecture</i>. <i>Architecture</i>, and hence code, opens up new pathways, and closes other pathways. Mysteriously, some philosophical historians have proposed that the "<i>Architecture</i> of the Public Square" was somehow responsible for the genesis of Democracy.
        </div>
        <div class="clause">
            <span class="clause-num">1.3</span>
            <strong>Applications</strong> The codebase aims for <i>freely developing Information Architecture</i> in Science, Philosophy, Ethics, Technology, and Religion. Our tech, as you may find elsewhere, may cause you to don a VR head-set to traverse our Graph; but our Architecture is designed, in its very essence, as <i>freely developing Information Architecture</i>, rather than for some hard-to-grasp motive. We want "grass-roots education!"
        </div>
    </div>
    <div class="section">
        <h3>II. Free Ontology</h3>
        <div class="clause">
            <span class="clause-num">2.1</span>
            <strong>Definition of Digital Ontology</strong> Ontology is the metaphysics (beyond-physics) of what exists. What exists on the website, Sources, Authors, Classes, and Publishers, constitutes our <i>Digital Ontology</i>.
        </div>
        <div class="clause">
            <span class="clause-num">2.2</span>
            <strong>Grassroots Ontology</strong> The <i>Digital Ontology</i> of propagate.info is meant to be freely evolving, from the grass-roots. There is no "Nazi Librarian" dictating how the public parses their own information. Anyone can upload some Public Domain file(s) and type in their own suitable metadata. Our content has a Renaissance theme, which was selected based on the historical parameters of human achivement.
        </div>
        <div class="clause">
            <span class="clause-num">2.3</span>
            <strong>With Class!</strong> I have taken the important step, in <i>freely developing Information Architecture</i>, of naming both "tags" and "syllabi" 'Classes'. This way, Universities may upload syllabi of educational media, which act as Classes, so that "philosophy" and "Yale Philosophy 101 SP26" are of the same Ontological form (Class). Stay tuned as I add manual class additions.
        </div>
    </div>


    <div class="section">
        <h3>III. Technology</h3>
        <div class="clause">
            <span class="clause-num">2.1</span>
            <strong>Persistence of Knowledge:</strong> propagate.info provides a decentralized, resilient architecture for the preservation of public domain media. If a primary Archive runs out of funding, the public will have full possession and control over as much public domain media as possible, so that the <i>freely developed Information Architecture</i> persists (people will still own public information, should this site be no longer accessible). That is why, as a matter of Public Domain BitTorrent philosophy, we recommend downloading as many files here as possible, as merely saving Public Domain educational media to Disk constitutes a contribution to Civil Society.
        </div>
        <div class="clause">
            <span class="clause-num">2.2</span>
            <strong>Information Accessibility:</strong> When external technological factors permit, WebTorrent shall be used to facilitate Universal <i>freely developing Information Architecture</i>, so that people without technological savvy may stream Ebooks, Audiobooks, Renaissance Art, Classical Music, and Documentaries, anywhere in the world, without needing to learn how to use BitTorrent.
        </div>
        <div class="clause">
            <span class="clause-num">2.3</span>
            <strong>Graph-Based Discovery:</strong> propagate.info features a Graph Search with graph visualizations to map Sources, Authors, Classes, and Publishers. The Graph Visualization works in VR, to get with the Times. 
        </div>
        <div class="clause">
            <span class="clause-num">2.4</span>
            <strong>Top10 Revs:</strong> We record the Top 250 "revs" (i.e., downloads) of every torrent for the Day, Week, Month, and Year, so that as this site grows, people will always find what is popular. As we begin to collect consistent grassroots user uploads, the Top Revs will be mapped to the Upload Timestamp.
        </div>
        <div class="clause">
            <span class="clause-num">2.5</span>
            <strong>Gazelle-Based System:</strong> propagate.info uses a DataTable in "Gazelle" format, so that translators of the same Source are listed under the same table-heading, and, say, an Audiobook and Ebook with the same translator is listed under the same Edition dropdown. This is digitally speaking, just as effective and innovative as the Dewey Decimal system, and is the main impetus for its public domain use-case. 
        </div>
    </div>
    <div class="section">
        <h3>IV. Ethical Governance</h3>
        <div class="clause">
            <span class="clause-num">3.1</span>
            <strong>Civil Society Philosophy</strong> Gazelle-Webtorrent does not want any sort of business footprint whatsoever, as it is our philosophy that a business footprint will conflict with <i>freely developing Information Architecture</i>, not to mention the outright censorship we are starting to see, especially as our work pertains to (oft-censored) public domain media. 
        </div>
        <div class="clause">
            <span class="clause-num">3.2</span>
            <strong>Sell-out?</strong> The burgeoning of cryptocurrency technology makes me want to ride that wave, while staying true to the metaphysics of <i>freely developing Information Architecture</i>. Stay tuned for more updates, as we may allow user uploads for crypto ($LINK). In that case the <i>freely developing Information Architecture</i> shall be named "Gazelle 3.0." 
        </div>
        <div class="clause">
            <span class="clause-num">3.3</span>
            <strong>User Uploads</strong> Users may upload any piece of Public Domain digital media that falls under our Genus categories, applying their own Classes and metadata to it. Users unaffiliated with Universities may even make up their own "Class" syllabi (such as Temple of Solomon the King)! This is meant to be a grass-roots <i>freely developing Information Architecture</i>, so we encourage grass-roots uploads for the sake of buttressing our Civil Society.
        <div class="clause">
                <span class="clause-num">3.4</span>
            <strong>Try to Help Seed</strong> Please help seed to WebTorrent peers! To make the WebSite work with WebTorrent, please use BiglyBT with the WebTorrent plugin, or monitor qBitTorrent progress, as they will be adding WebTorrent support soon. Seeding as many files as possible using a WebTorrent Desktop client is the best way to ensure that files are Universally Accessible.
        </div>

    </div>


  <!-- <div class="footer-signature">
        Authorized Representative<br>
        Lead Developer / Archivist
    </div> !-->

    <div class="stamp"><h1><a href="#torrents" class="TEMPLAR torrents">propagate.info</a></h1></div>

</body>
</html>