    <style>
        @page {
            size: A4;
            background-color: #555;            
            @bottom-right {
                content: counter(page);
                font-family: 'Times New Roman', serif;
                font-size: 9pt;
                color: #555;
            }

        }

        div.mission{
            padding-left:5px;
            padding-right:5px;
            color:white !important;
        }


    
        .document-type {
            text-transform: uppercase;
            letter-spacing: 2pt;
            font-size: 10pt;
            font-weight: bold;
        }

        .meta-data {
            font-size: 10pt;
            color: #666;
            margin-bottom: 40pt;
        }

        .section {
            margin-bottom: 20pt;
        }

        .section-number {
            font-weight: bold;
            margin-right: 10pt;
        }
     
        .clause {
            display: block;
            margin-bottom: 12pt;
            padding-left: 33px;
            padding-right:5px;
            position: relative;
            font-family:"Share Tech Mono", sans-serif;
            font-size:16px;
            text-align:justify;
        }

        .clause-num {
            position: absolute;
            left: 0;
            font-weight: bold;
        }

        .highlight-box {
            background-color: #f9f9f9;
            border-left: 4pt solid #333;
            padding: 15pt;
            margin: 20pt 0;
            font-style: italic;
        }

        
        strong{
            font-weight:bold;
        }

        i{
            font-style:italic;
        }

        .mission h3{
            font-family:"Rye", serif;
        }

        .mission h2 span a{
            color:goldenrod !important;
        }

        .clause-num{
            color:cyan;
        }

    </style>
</head>
<body>
    <div class="titleBreak">
        <h2><span><a href="#mission" class="TEMPLAR mission">Mission Statement</a></span></h2>
    </div>

    <div class="section">
        <h3>I. Code as Architecture</h3>
        <div class="clause">
            <span class="clause-num">1.1</span>
            <strong>Universal Definition</strong> propagate.info aims for <i>open-access, redundancy, and grass-roots Free Ontology</i> of public domain educational media. The name comes from the Catholic Society for the Propagation of the Faith. We follow the philosophy of Open Source Free Education, and have chosen the BitTorrent protocol to facilitate the <i>open-access, redundancy, and grass-roots Free Ontology</i> of public domain educational media. 
        </div>
        <div class="clause">
            <span class="clause-num">1.2</span>
            <strong>The Architecture of the Public Square</strong> As Lawrence Lessig said, code is like <i>Architecture</i>. <i>Architecture</i>, and hence code, opens up new pathways, and closes other pathways. Mysteriously, some philosophical historians have proposed that the "<i>Architecture</i> of the Public Square" was somehow responsible for the genesis of Democracy. The original impetus of this website was to strengthen Democracy thru 501(c)3 Civil Society.
        </div>
        <div class="clause">
            <span class="clause-num">1.3</span>
            <strong>Applications</strong> The codebase is exclusively and painstakingly engineered for the sake of <i>open-access, redundancy, and grass-roots Free Ontology</i> of public domain educational media in any archived topic. Our technology, as you may find elsewhere, may cause you to don a VR head-set to visualize our Neo4J Graph database; but our Architecture is designed, in its very essence, for <i>open-access, redundancy, and grass-roots Free Ontology</i> in education, rather than for some other ephemeral motive which takes precedence over Free Ontology.
        </div>
    </div>
    <div class="section">
        <h3>II. Free Ontology</h3>
        <div class="clause">
            <span class="clause-num">2.1</span>
            <strong>Definition of Digital Ontology</strong> Ontology is the metaphysics (beyond-physics) of what exists. What exists on the website, Sources, Authors, Classes, and Publishers, constitutes our <i>Digital Ontology</i>.
        </div>
        <div class="clause">
            <span class="clause-num">2.2</span>
            <strong>Free Grassroots Ontology</strong> The <i>Digital Ontology</i> of propagate.info is meant to be freely evolving, from the grass-roots. There is no "Nazi Librarian" dictating how the public parses their own information. Anyone can upload some Public Domain file(s) and type in their own suitable metadata. Our content parameters have a Renaissance theme, selected based on the historical parameters of human achivement.
        </div>
        <div class="clause">
            <span class="clause-num">2.3</span>
            <strong>With Class!</strong> I have taken the important step, for the sake of <i>grass-roots Free Ontology</i>, of converging "tags" and "syllabi" under the Notion of 'Classes'. This way, Universities may upload syllabi of educational media, which act as Classes, so that "philosophy" and "Yale Philosophy 101 SP26" are of the same Ontological Form (Class). Stay tuned as I add grass-roots Class Edits and Additions, so that anyone can add a Class, such as "Temple of Solomon the King," or add Sources to Classes, as tags or syllabi. 
        </div>
    </div>
    <div class="section">
        <h3>III. Technology</h3>
        <div class="clause">
            <span class="clause-num">2.1</span>
            <strong>Persistence and Redundancy:</strong> propagate.info provides a decentralized, resilient architecture for the redundant preservation of public domain media. If a primary Archive runs out of funding, the public who have used this website will have full possession and control over as much public domain media as possible, for the sake of <i>open-access, redundancy, and grass-roots Free Ontology</i>. That is why, as a matter of Public Domain BitTorrent philosophy, we recommend downloading as many files here as possible, as merely saving Public Domain educational media to Disk for redundancy constitutes a contribution to Civil Society and the culture of Civilization.
        </div>
        <div class="clause">
            <span class="clause-num">2.2</span>
            <strong>Information Accessibility:</strong> propagate.info believes in free access to public information, using Open Source philosophy & the robust BitTorrent culture, while following all applicable Laws. Furthermore, WebTorrent shall be used to facilitate <i>open-access, redundancy, and grass-roots Free Ontology</i>, so that people without technological savvy may stream Ebooks, Audiobooks, Renaissance Art, Classical Music, and Documentaries, anywhere in the world, without needing to learn how to use BitTorrent or install any external programs.
        </div>
        <div class="clause">
            <span class="clause-num">2.3</span>
            <strong>Graph-Based Discovery:</strong> propagate.info features a Graph Search with graph visualizations to map Sources, Authors, Classes, and Publishers. The Graph Visualization works in VR, to get with the Times. We hope this innovative UI/UX will spur new research methodologies and opportunities, especially in Academic Science.
        </div>
        <div class="clause">
            <span class="clause-num">2.4</span>
            <strong>Top10 Revs:</strong> We record the Top 10-250 "revs" (i.e., downloads or "snatches") of every torrent for the Day, Week, Month, and Year, so that as this site grows, people will be able to track what's popular in education. As we begin to collect consistent grass-roots user uploads, the Top Revs will be mapped to the Upload Timestamp, rather than the Download Timestamp.
        </div>
        <div class="clause">
            <span class="clause-num">2.5</span>
            <strong>Gazelle-Based System:</strong> propagate.info organizes torrents thru a JQuery DataTable in "Gazelle" format, so that translators of the same Source are listed under the same table-heading, and, say, an Audiobook and Ebook with the same translator is listed under the same Edition heading under a Source. This is digitally speaking, and in my humble opinion, just as effective and innovative as the Dewey Decimal system, and is the main impetus for its public domain use-case and advance into >=Web 2.0. For example, if you search for "Statesman" by Plato, you will find all the Edition translations of "Statesman" in the same place, with an Ebook and Audiobook of the same Jowett translation listed under the same Edition heading, rather than spreading pdfs, mp3s, and editions of the same Source throughout the database.
        </div>
    </div>
    <div class="section">
        <h3>IV. Ethical Governance</h3>
        <div class="clause">
            <span class="clause-num">3.1</span>
            <strong>Civil Society Philosophy</strong> Gazelle-Webtorrent does not want any sort of business footprint whatsoever, as it is our philosophy that a business footprint will conflict with our sole mission of <i>open-access, redundancy, and grass-roots Free Ontology</i> of public domain educational media. We wish to follow our Mission and deter all forms of censorship, and may create a 501(c)3 in the future.</div>
        <div class="clause">
            <span class="clause-num">3.2</span>
            <strong>Sell-out?</strong> The burgeoning of cryptocurrency technology makes me want to ride that wave, while staying true to the Open Source philosophy of <i>open-access</i>. Stay tuned for more updates, as we may allow user uploads for crypto ($LINK). In that case the codebase shall be renamed, "Gazelle 3.0." 
        </div>
        <div class="clause">
            <span class="clause-num">3.3</span>
            <strong>User Uploads</strong> Users may upload any piece of Public Domain digital media that falls under our Genus categories (Fiction, Nonfiction, Journal Article, Renaissance Art, Classical Music, Documentary), applying their own Classes and metadata to it. Users unaffiliated with Universities may even make up their own "Class" syllabi (such as Temple of Solomon the King)! propagate.info aims for <i>open-access, redundancy, and grass-roots Free Ontology</i>, so we encourage grass-roots uploads for the sake of buttressing Civil Society and information redundancy, using a Free Ontology. (This is absolutely not a Piracy website, so please ensure you have the rights to the file, or it is in public domain, before uploading your media.)
        </div>    
    </div>
</body>
</html>